@model DOA.Models.Day


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>


<form method="post" asp-action="Create">
    <label asp-for="Id"></label><br />
    <input asp-for="Id" /><br />
    <br />
    <label asp-for="Title"></label>
    <input asp-for="Title" />

    <input type="submit" value="Create" />

</form>